<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PollEmails.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="Alibaba" connectionString="Data Source=ANDREW-SERVER;Initial Catalog=QwayInc;Uid=sa;Pwd=sa;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PollEmails.Properties.Settings>
            <setting name="MAPIFolders" serializeAs="String">
                <value>
                  qway.inc@hotmail.com, feedback@service.alibaba.com ;
                  qway.ca@hotmail.com, feedback@service.alibaba.com ;
                  qway.canada@hotmail.com, feedback@service.alibaba.com ;
                  qway.inc@gmail.com, feedback@service.alibaba.com
                </value>
            </setting>
            <setting name="MailServers" serializeAs="String">
                <value>
                  qway.inc@hotmail.com, aH630615, feedback@service.alibaba.com ;
                  qway.ca@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.canada@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc@gmail.com, Ah630615, feedback@service.alibaba.com
                  qway.inc.a@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.b@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.c@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.d@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.e@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.f@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.g@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.h@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.i@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.j@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.k@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.l@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.m@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.n@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.o@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.p@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.q@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.r@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.s@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                  qway.inc.t@hotmail.com, Ah630615, feedback@service.alibaba.com ;
                </value>
            </setting>
        </PollEmails.Properties.Settings>
    </userSettings>
</configuration>